[submodule "modules/boltz"]
	path = modules/boltz
	url = git@github.com:softnanolab/boltz.git
	branch = feat/extract-distogram-2.2.1
[submodule "modules/openfold"]
	path = modules/openfold
	url = https://github.com/softnanolab/openfold.git
	branch = esmfold_compat
[submodule "modules/esm"]
	path = modules/esm
	url = https://github.com/softnanolab/esm.git
[submodule "modules/mint"]
	path = modules/mint
	url = git@github.com:softnanolab/mint.git
[submodule "modules/msa_pairformer"]
	path = modules/msa_pairformer
	url = git@github.com:softnanolab/MSA_Pairformer.git
