[submodule "modules/boltz"]
	path = modules/boltz
	url = git@github.com:softnanolab/boltz.git
[submodule "modules/openfold"]
	path = modules/openfold
	url = https://github.com/softnanolab/openfold.git
	branch = esmfold_compat
[submodule "modules/esm"]
	path = modules/esm
	url = https://github.com/softnanolab/esm.git
