[submodule "modules/boltz"]
	path = modules/boltz
	url = git@github.com:softnanolab/boltz.git
	branch = feat/extract-distogram-2.2.1
[submodule "modules/openfold"]
	path = modules/openfold
	url = https://github.com/softnanolab/openfold.git
	branch = esmfold_compat
[submodule "modules/esm"]
	path = modules/esm
	url = https://github.com/softnanolab/esm.git
[submodule "modules/mentos"]
	path = modules/mentos
	url = git@github.com:softnanolab/mentos.git
[submodule "modules/msa_pairformer"]
	path = modules/msa_pairformer
	url = git@github.com:softnanolab/MSA_Pairformer.git
[submodule "third_party/colabfold-local"]
	path = third_party/colabfold-local
	url = git@github.com:softnanolab/colabfold-local.git
