# Python
__pycache__/
*.egg-info
.pytest_cache/
.python-version

# VSCode / Cursor
.vscode/
.cursorrules
.cursor/
.cursor/
*.code-workspace

# Custom
envs/
predictions/*
resources/boltz/*
resources/pdb_features.json
test.ipynb